body{ 
    background-image: url(../assets/background.png);
    background-size: 100%;
    background-repeat: repeat-y;
}
header {
    background-color: rgba(255, 255, 255, 0.25);
    padding: 2%;
    border-radius: 100px;
}


/* GAME */

.gameSection {
    background-color: rgba(255, 255, 255, 0.25);
    padding: 2%;
    margin: 1%;
    border-radius: 100px;
}


.account > form {
    display: flex;
    justify-content: space-around;
}

.account > form > div {
    display: flex;
    flex-direction: column;
    text-align: center;
}



.buttons > * {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

.gameScreen {
    padding: 5%;
}

#game_Log {
    background-color: white;
    height: 250px;
    padding: 1%;
}